@import '../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .input-control {
      display: block;
      margin-top: 1rem;

      label, mat-radio-button {
        margin-right: 1rem;
      }

      textarea {
        min-height: 3rem;
      }
    }

    button, mat-button-toggle-group {
      margin: 0.5rem;
      margin-top: 1rem;
    }
  }
}

