@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .position-select {
    min-width: 13rem;
  }

  .label {
    display: block;
  }

  nb-card-footer button:first-child {
    @include nb-ltr(margin-right, 1rem);
    @include nb-rtl(margin-left, 1rem);
  }
}

:host {
  display: block;
}
