<div class="row">
  <div class="col-lg-3" *ngIf="id<=0 || isCustomer"></div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Customer profile</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-12">
            <form [formGroup]="customerProfileForm">
              <mat-form-field class="input-control">
                <mat-label>Title</mat-label>
                <input matInput autocomplete="off" formControlName="title">
                <button mat-button *ngIf="customerProfileForm.value.title != ''" matSuffix mat-icon-button aria-label="Clear" (click)="customerProfileForm.get('title').setValue('')">
                  X
                </button>
                <mat-hint>eg Mr</mat-hint>
              </mat-form-field>
              <mat-form-field class="input-control">
                <mat-label>Name</mat-label>
                <input matInput autocomplete="off" formControlName="name">
                <button mat-button *ngIf="customerProfileForm.value.name != ''" matSuffix mat-icon-button aria-label="Clear" (click)="customerProfileForm.get('name').setValue('')">
                  X
                </button>
                <mat-hint>eg Milton</mat-hint>
              </mat-form-field>
              <mat-form-field class="input-control">
                <mat-label>Surname</mat-label>
                <input matInput autocomplete="off" formControlName="surname">
                <button mat-button *ngIf="customerProfileForm.value.surname != ''" matSuffix mat-icon-button aria-label="Clear" (click)="customerProfileForm.get('surname').setValue('')">
                  X
                </button>
                <mat-hint>eg Gore</mat-hint>
              </mat-form-field>
              <mat-form-field class="input-control">
                <mat-label>Email</mat-label>
                <input matInput autocomplete="off" formControlName="email">
                <button mat-button *ngIf="customerProfileForm.value.email != ''" matSuffix mat-icon-button aria-label="Clear" (click)="customerProfileForm.get('email').setValue('')">
                  X
                </button>
                <mat-hint>eg milton@gmail.com</mat-hint>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!customerProfileForm.valid || processing">Submit</button>
            </form>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6" *ngIf="id>0 && !isCustomer">
    <nb-card>
      <nb-card-header>Add new Key</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-12">
            <form [formGroup]="productKeyForm" >
              <mat-form-field class="input-control">
                <mat-label>Select Product</mat-label>
                <mat-select formControlName="productId">
                  <mat-option *ngFor="let item of products" value="{{item.id}}">{{item.name}}</mat-option>
                </mat-select>
                <mat-hint>software product</mat-hint>
              </mat-form-field>

              <mat-form-field class="input-control">
                <mat-label>Expirery date</mat-label>
                <input matInput autocomplete="off" [matDatepicker]="picker" formControlName="expiryDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint>date to expire</mat-hint>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="onSubmitProductKey()" [disabled]="!productKeyForm.valid || processing">Submit</button>
            </form>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="id>0">
  <div class="col-lg-12 d-flex justify-content-center">
    <nb-card class="text-center">
      <nb-card-header>
        All customer Keys
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>


