<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Product details</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-12">
            <form [formGroup]="productForm" >
              <mat-form-field class="input-control">
                <mat-label>Name</mat-label>
                <input matInput autocomplete="off" formControlName="name" >
                <button mat-button *ngIf="productForm.value.name != ''" matSuffix mat-icon-button aria-label="Clear" (click)="productForm.get('name').setValue('')">
                  X
                </button>
                <mat-hint>Software</mat-hint>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!productForm.valid || processing">Submit</button>
            </form>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
