<div class="row">
  <div class="col-md-2 col-lg-3"></div>
  <div class="col-md-8 col-lg-6">
    <nb-reveal-card [showToggleButton]="false" [revealed]="revealed">
      <nb-card-front>
        <nb-card size="small">
          <nb-card-header class="text-center">
            Login with username
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8">
                <form [formGroup]="userLoginForm">
                  <mat-form-field class="input-control">
                    <mat-label>Username</mat-label>
                    <input matInput autocomplete="off" formControlName="username">
                    <button mat-button *ngIf="userLoginForm.value.username != ''" matSuffix mat-icon-button aria-label="Clear" (click)="userLoginForm.get('username').setValue('')">
                      X
                    </button>
                    <mat-hint>midza</mat-hint>
                  </mat-form-field>
                  <mat-form-field class="input-control">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="password">
                    <button mat-button *ngIf="userLoginForm.value.password != ''" matSuffix mat-icon-button aria-label="Clear" (click)="userLoginForm.get('password').setValue('')">
                      X
                    </button>
                    <mat-hint>****</mat-hint>
                  </mat-form-field>
                  <div class="text-center">
                    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!userLoginForm.valid || processing">Login</button>
                  </div>
                </form>
                <div class="text-center">
                  <button mat-raised-button (click)="toggleView()">Use key</button>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-front>

      <nb-card-back>
        <nb-card size="small">
          <nb-card-header class="text-center">
            Login with licence key
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8">
                <form [formGroup]="licenceForm">
                  <mat-form-field class="input-control">
                    <mat-label>Licence key</mat-label>
                    <input matInput autocomplete="off" formControlName="key">
                    <button mat-button *ngIf="licenceForm.value.key != ''" matSuffix mat-icon-button aria-label="Clear" (click)="licenceForm.get('key').setValue('')">
                      X
                    </button>
                    <mat-hint>XXXXXXXXXXXXX</mat-hint>
                  </mat-form-field>
                  <div class="text-center">
                    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!licenceForm.valid || processing">Login</button>
                  </div>
                </form>
                <div class="text-center">
                  <button mat-raised-button (click)="toggleView()">Use username and password</button>
                </div>
              </div>
            </div>
          </nb-card-body>
          </nb-card>
      </nb-card-back>
    </nb-reveal-card>
  </div>
</div>


