<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>User details</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-12">
            <form [formGroup]="userForm">
              <mat-form-field class="input-control">
                <mat-label>Username</mat-label>
                <input matInput autocomplete="off" formControlName="username">
                <button mat-button *ngIf="userForm.value.username != ''" matSuffix mat-icon-button aria-label="Clear" (click)="userForm.get('username').setValue('')">
                  X
                </button>
                <mat-hint>midza</mat-hint>
              </mat-form-field>
              <mat-form-field class="input-control">
                <mat-label>Password</mat-label>
                <input matInput type="password" autocomplete="off" formControlName="password">
                <button mat-button *ngIf="userForm.value.password != ''" matSuffix mat-icon-button aria-label="Clear" (click)="userForm.get('password').setValue('')">
                  X
                </button>
                <mat-hint>****</mat-hint>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!userForm.valid || processing">Submit</button>
            </form>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
