<nb-card>
  <nb-card-header>
    Product List
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" (edit)="onEdit($event)" [source]="source" (delete)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
